@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background-color: #ddd;
  color: #121212;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  position: relative;
  font-family: "Poppins";
  background-color: #121212;
  color: #e0e0e0;
  overflow: hidden;
}

.loader {
  background-color: #121212;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: all 0.2s ease;
  z-index: 99999;
}

.loader img {
  animation: round 2s ease-in-out infinite;
  height: 12rem;
  width: 12rem;
  filter: invert(1);
}

@keyframes round {
  0% {
    transform: rotate(0deg) scale(0.7);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

.container {
  display: grid;
  grid-template-columns: 20vw auto;
  position: relative;
  width: 100vw;
  height: 100vh;
  transition: grid-template-columns 0.3s ease;
}

.container.jump {
  grid-template-columns: 0 100vw;
}

.nav {
  background-color: #1e1e1e;
  height: 100vh;
  padding: 2rem;
  padding-right: 0;
  width: 100%;
  transition: 0.3s ease;
  overflow: hidden;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.padding {
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181818;
  border-radius: 1rem;
  padding: 1rem;
}

.ham {
  cursor: e-resize;
  height: 2.8rem !important;
  width: 2.8rem !important;
}

.header img {
  height: 3.2rem;
  width: 3.2rem;
  filter: invert(1);
}

.cursor {
  cursor: w-resize;
}

.his-heading img {
  height: 2.4rem;
  width: 2.4rem;
}

.history-wrapper {
  margin-bottom: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.history {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
}

.history::-webkit-scrollbar {
  width: 10px;
  background-color: #333;
  border-radius: 10px;
}

.his-heading {
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.open-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.open-box img {
  height: 8.6rem;
  width: 8.6rem;
  filter: brightness(30%) saturate(0%);
}

.open-box p {
  font-size: 1.2rem;
  color: #999;
}

.his-box {
  background-color: #313131;
  border-radius: 1rem;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease;
  cursor: default;
  position: relative;
}

.transition {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  bottom: -180%;
  right: 0%;
  background-color: #313131;
  transition: all 0.1s ease;
  border-radius: 1rem;
  gap: 1rem;
  z-index: 9;
  opacity: 0;
  padding: 1rem;
  pointer-events: none;
}

.transition.hidden {
  opacity: 1;
  pointer-events: auto;
}

.mini-ham {
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
}

.ham img {
  height: 100%;
  width: 100%;
}

.his-box:hover {
  background-color: #272727;
}

.his-box .transition span {
  border-radius: 0.6rem;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  word-break: break-word;
  white-space: normal;
}

.his-box .transition span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.his-box .transition span img {
  height: 1.6rem;
  width: 1.6rem;
}

.his-box span:nth-child(1):hover {
  filter: invert(60%) sepia(90%) saturate(600%) hue-rotate(85deg)
    brightness(1.2);
}

.his-box span:nth-child(2):hover {
  filter: invert(16%) sepia(100%) saturate(7500%) hue-rotate(-15deg)
    brightness(1.1);
}

.his-box p {
  width: 85%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main {
  background-color: #181818;
  height: 100vh;
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: position 3s ease;
  position: relative;
}

.main::after {
  content: "Copyright © 2025 </> and Desinged by Avi-codesmith";
  position: absolute;
  bottom: 2%;
  font-size: 1.4rem;
  color: #aaa;
}

.d-hidden {
  position: fixed;
  top: 2%;
  left: 2%;
  opacity: 0;
  transition: all 0.1s ease;
}

.d-hidden.opacity {
  opacity: 1;
  z-index: 9;
}

.d-hidden .ham {
  margin-right: 4rem;
}

.chat-box {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.chat {
  margin-top: 6rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.chat-box::-webkit-scrollbar {
  display: none;
}

.heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
  font-weight: 600;
  user-select: none;
  background: linear-gradient(90deg, #777, #ddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 100vw;
}

.heading.hide {
  display: none;
}

.message {
  max-width: 20vw;
  word-wrap: break-word;
}

.text {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2rem;
  width: 100%;
  color: #e0e0e0;
  line-height: 1.6;
}

.user {
  background-color: #2c2c2c;
  border-radius: 2rem;
  align-self: flex-end;
  border-radius: 2rem 2rem 0 2rem;
}

.bot {
  background-color: #1e1e1e;
  border-radius: 2rem;
  align-self: flex-start;
  border-radius: 0 2rem 2rem 2rem;
}

form {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  padding: 4rem;
  border-radius: 4rem;
  width: 50%;
  box-shadow: 1px 10px 12px rgba(0, 0, 0, 0.5);
  border: 0.5px solid #333;
  cursor: text;
  margin-bottom: 6rem;
}

textarea {
  background-color: transparent;
  width: 100%;
  height: 2.4rem;
  color: #e0e0e0;
  font-size: 1.6rem;
  font-family: "Poppins";
  resize: none;
}

.textarea::-webkit-scrollbar {
  width: 0;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.black {
  background-color: #e0e0e0 !important;
  height: 4rem !important;
  width: 4rem !important;
}

.btn {
  height: 4rem;
  width: 4rem;
  background-color: #2a2a2a;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.btn img {
  height: 60%;
  width: 60%;
  filter: invert(1);
}

.btn:hover {
  background-color: #444;
  cursor: pointer;
}

.btn:active {
  background-color: #222;
  cursor: pointer;
}

.new {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 9;
  cursor: pointer;
  background-color: #181818;
  border-radius: 1rem;
  padding: 1rem;
}

.new img {
  height: 3.2rem;
  width: 3.2rem;
  filter: invert(1);
}

.red {
  background-color: #fa5252;
  color: #fff;
  border-radius: 0 2rem 2rem 2rem;
}

.dull {
  height: 100vh;
  width: 100vw;
  background-color: #121212ee;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  opacity: 1;
  display: none;
}

.opacity2 {
  opacity: 0;
  pointer-events: none;
}

.trans {
  background-color: transparent !important;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  z-index: 9999;
  padding: 2rem;
  border-radius: 2rem;
  opacity: 0;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 32px #121212;
  pointer-events: none;
}

.window p {
  font-size: 1.4rem;
  margin: 2rem 0;
}

.window button {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-del {
  background-color: rgb(246, 69, 69) !important;
  margin-left: 2rem;
  border: none !important;
  padding: 1.4rem 2.4rem;
}

.window button:hover {
  opacity: 0.7;
}

@media (max-width: 1440px) {
  .container {
    grid-template-columns: 30vw auto;
  }
  form {
    width: 80%;
  }
  .chat {
    width: 80%;
  }
}

@media (max-width: 1052px) {
  .container {
    grid-template-columns: 40vw auto;
  }
  .message {
    max-width: 70vw;
  }
}

@media (max-width: 860px) {
  .container {
    grid-template-columns: 60vw auto;
  }
  .dull {
    display: block;
  }
  .del img {
    opacity: 1 !important;
  }
  .to img {
    opacity: 1 !important;
  }
  .heading {
    position: fixed;
  }
}

@media (max-width: 541px) {
  html {
    font-size: 50%;
  }
  body {
    background-color: #181818;
  }
  .container {
    grid-template-columns: 90vw auto;
  }
  form {
    flex-direction: column;
    border-radius: 4rem 4rem 0 0;
    width: 100%;
    margin: 0;
  }
  .btn-wrapper {
    justify-content: center;
    width: 100%;
    gap: 4rem;
  }
  .main::after {
    content: "";
  }
  .chat {
    width: 100%;
    padding: 2rem;
  }

  form {
    position: fixed;
    bottom: 0%;
  }
  .main {
    height: 85vh;
  }
  .window {
    width: 60vw;
  }
}
